@import "tailwindcss";

@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';

/* Farver */
:root {
  --gul-200: #ffffd6;
  --gul-500: #ffff95;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

  body {
    background-color: var(--gul-200);
  }
}

@layer components {
}

@layer utilities {
}
