@import "tailwindcss";

@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';

/* Farver */
:root {
  --gul-200: #ffffd6;
  --gul-300: #ffffc1;
  --gul-400: #ffffa8;
  --gul-500: #ffff95;

  --rød-300: #f29c8d;
  --rød-500: #e9573e;

  --blå-100: #e9f4fc;
  --blå-200: #d2e8f9;
  --blå-300: #b7daf5;
  --blå-400: #a0cff2;
  --blå-500: #8bc3ef;
  --blå-600: #47a1e6;
  --blå-700: #1c7cc5;
  --blå-800: #135486;
  --blå-900: #0a2a43;
  --blå-1000: #03141f;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

  body {
    background-color: var(--gul-200);
  }
}

h1 {
  @apply text-[96px] lg:text-[80px] mb-[24px] lg:mb-[50px] font-['Courier_New'];
}

h2 {
  @apply text-[64px] lg:text-[80px] mb-[20px] lg:mb-[50px] font-['Courier_New'];
}

h3 {
  @apply text-3xl lg:text-[32px] mb-[18px] lg:mb-[50px] font-['Courier_New'];
}

p,
a {
  @apply text-[24px] lg:text-[16px] font-['Courier_New'];
}

.font-kapakana {
  font-family: "Kapakana", sans-serif;
}
