<footer
  style="background: linear-gradient(to top, var(--gul-500), var(--gul-200));"
  class="py-16 px-10 flex flex-col items-center text-black"
>
  <div class="w-full max-w-screen-2xl flex flex-col items-center">
    <div class="w-full flex justify-between text-sm mb-6">
      <div>
        <p>Theaterstræde 2, 3770 Allinge Bornholm</p>
        <p>Indgang fra Nørregade 7</p>
      </div>

      <div class="text-right text-sky-600">
        <a href="https://facebook.com" class="block underline hover:text-sky-800">Facebook</a>
        <a href="https://instagram.com" class="block underline hover:text-sky-800">Instagram</a>
      </div>
    </div>

    <!-- logo -->
    <div class="w-full">
      <img src="/public/gaesten_logo.svg" alt="GÆSTEN logo" class="w-full h-auto mx-auto"/>
    </div>
  </div>
</footer>





