---
---
<footer
  style="background: linear-gradient(to top, var(--gul-500), var(--gul-200));"
  class="py-16 px-6 flex flex-col items-center text-black"
>
  <!-- Adresse + Links -->
  <div class="w-full max-w-7xl flex justify-between text-sm mb-12">
    <!-- Adresse -->
    <div>
      <p>Theaterstræde 2, 3770 Allinge Bornholm</p>
      <p>Indgang fra Nørregade 7</p>
    </div>

    <!-- SoMe links -->
    <div class="text-right text-sky-600">
      <a href="https://facebook.com" class="block underline hover:text-sky-800">Facebook</a>
      <a href="https://instagram.com" class="block underline hover:text-sky-800">Instagram</a>
    </div>
  </div>

  <!-- Stor SVG-logo -->
  <div>
    <img src="/gaesten-logo.svg" alt="GÆSTEN logo" class="h-32 md:h-48 w-auto" />
  </div>
</footer>


