---
---
<header
  style="background: linear-gradient(to bottom, var(--gul-500), var(--gul-200));"
  class="py-10 px-10 flex justify-between"
>
  <!-- Logo med billede -->
  <div class="flex items-start space-x-4">
    <img src="/public/g_logo.svg" alt="Logo" class="h-16 w-auto" />
  </div>

  <!-- Navigation -->
  <nav class="space-x-10 text-sm text-black mt-1">
    <a href="/tickets" class="hover:underline">Billetter</a>
    <a href="/info" class="hover:underline">Info</a>
    <a href="/contact" class="hover:underline">Kontakt</a>
    <a href="#folkemoede" class="hover:underline">Folkemøde</a>
  </nav>
</header>



  